{% extends '::base.html.twig' %}

{% block content %}

<div class="b-title">Новости и акции</div>

{% if data.news %}
{% for news in data.news %}
<div class="i-news clearfix">
<div class="in-pic"><a href="{{url('cinema_cinema_one_news',{id:news.getId})}}"><img src="/{{news.getUploadDir}}{{news.getImg}}" alt="" width="103" /></a></div>
<div class="in-text">
{% if news.getUpdatedAt %}
<time class="clearfix"><i>{{news.getUpdatedAt.format('j')}}</i><em>{{data.month[news.getUpdatedAt.format('m')-1]}}</em><span>{{news.getUpdatedAt.format('Y')}}</span></time>
{% else %}
<time class="clearfix"><i>{{news.getCreatedAt.format('j')}}</i><em>{{data.month[news.getCreatedAt.format('m')-1]}}</em><span>{{news.getCreatedAt.format('Y')}}</span></time>
{% endif %}
<h3 id="{{news.getId}}" class="more"><a href="{{url('cinema_cinema_one_news',{id:news.getId})}}">{{news.getTitle}}</a></h3>
<div id="short_{{news.getId}}" class="short"><p>{{news.getContent  | slice(0,200)| raw}}</p></div>
<div id="full_{{news.getId}}" class="full"><p>{{news.getContent | raw}}</p></div>

<div id="{{news.getId}}" class="in-more"><a>подробнее</a></div>
</div>
</div>
{% endfor %}
    {% if data.pages > 1 %}
    <div class="paginator">
    {% for i in range(1,data.pages) %}
        <a {% if i==data.page %}class="active"{% else %} href="{{url('cinema_cinema_all_news',{'page':i})}}"{% endif %}>{{i}}</a>&nbsp;
    {% endfor %}
    </div>
    {% endif %}
{% endif %}

{% endblock %}

{% block javascripts %}
{{parent()}}
 <script type="text/javascript">

function hideFull()
{
    $('.in-text div.full').hide();
}

function showShort()
{
    $('.in-text div.short').show();
}

hideFull(); 

function more( id, elem )
{
    //hideFull(); 
    //showShort();
    if ( elem.html() == '<a>подробнее</a>')
                                {
                                     
                                    $('#short_'+id).hide();
                                    $('#full_'+id).fadeIn(1000);
                                    elem.html('<a>свернуть</a>'); 
                                }
                                else
                                {
                                    $('#full_'+id).hide();
                                    $('#short_'+id).fadeIn(1000);
                                    elem.html('<a>подробнее</a>'); 
                                    
                                }
    
}

$('.in-more').click(function(){ 
                                
                                var id=this.id;
                                var elem = $(this);
                                more(id,elem);  
                            }
                      );

</script>
   
    

{% endblock %}

