{% extends '::base.html.twig' %}

{% block content %}
<div class="i-title">Сегодня</div>

<ul class="v-cats clearfix">
<li id="all"><a href="{{url('cinema_cinema_index', {'genre':'all'})}}">Все</a></li>
{% for key,genre in data.genres %}

<li id="{{key}}"><a href="{{url('cinema_cinema_index', {'genre':key})}}">{{genre|capitalize}}</a></li>

{% endfor %}
</ul>

<ul class="tf-list clearfix">{% for film in data.today %}
<li>
{% if film %}
<a href="{{url('cinema_cinema_film', {'slug': film.getSlug})}}"> <i><img src="/upload/images/film/{{film.getId}}.jpg" alt="" width="160" height="229" /></i><span><strong>{{film.getName}}</strong>{{film.getGenre}}</span></a></li>
{%else %}

{% endif %}

{% endfor %}</ul>
<div class="b-title">Скоро</div>
<ul class="tf-list clearfix">{% for film in data.soon %}
{% if film %}
<li><a href="{{url('cinema_cinema_film', {'slug': film.getSlug})}}"> <i><img src="/upload/images/film/{{film.getId}}.jpg" alt="" width="160" height="229" /></i><span> <strong>{{film.getName}}</strong>{{film.getGenre}}</span></a></li>
{% endif %}
{% endfor %}</ul>

{% include "CinemaCinemaBundle:Default:news.html.twig" %}
{% include "CinemaCinemaBundle:Default:vkgroup.html.twig" %}

</div>
<br /> 
<div class="cl"></div>
{% endblock %}

{% block javascripts %}
{{parent()}}
<script type="text/javascript">
var nav = document.getElementById('index');
nav.className = "active";

var uri = window.location.href;

var regV = /(all{% for key in data.genres|keys  %}{% if key %}|{{key}}{% endif %}{% endfor %})/;
var genre = uri.match(regV);
genre = ( genre == null )? 'all' : genre=genre[0];
var li = document.getElementById(genre);
li.className = "ui-tabs-active";
</script> 
{% endblock %}

