<!-- backlink -->
<a title="кинотеатр Эрвий" href="{{url('cinema_cinema_retrobar')}}" id="backlink" target="_blank"></a>
<!-- main -->
<div class="wrap-main"><div class="wrap-main-fond">
<!-- tel -->
<div class="roundedBox"><div>тел.  56-57-59</div></div>
<!-- tel -->

	<div class="wrp-btn-buy"><a class="logo" href=""></a></div>
    <div class="main">
	<div class="wrp-zbg">
		<!--  header  -->
		<header>
			<nav>
				<ul class="nav-list">
					<li id="home"><a title="кинотеатр Эрвий" href="{{url('cinema_cinema_homepage')}}">Кинотеатр "Эрвий"</a></li>
                    <li id="afisha"><a title="Ретро-Бар Арена Афиша" href="{{url('cinema_cinema_retrobar')}}">АФИША</a></li>
					<li id="schedule"><a title="Ретро-Бар Арена Расписание" href="{{url('cinema_cinema_retrobar_page',{'slug':'schedule'})}}">РАСПИСАНИЕ</a></li>
					{#<li id="photoreport"><a title="Ретро-Бар Арена Фотоотчеты" href="{{url('cinema_cinema_retrobar_page',{'slug':'photoreport'})}}">ФОТООТЧЕТЫ</a></li>#}
					<li id="contact"><a title="Ретро-Бар Арена Контакты" href="{{url('cinema_cinema_retrobar_page',{'slug':'contact'})}}">КОНТАКТЫ</a></li>
				</ul>
			</nav>
		</header><!-- end header -->
		<!--  content  -->
		<div class="wrap-content">
			<div class="content">