{% extends '::retrobar_base.html.twig' %}

{% block metatag %}
    <meta name="keywords" content="Кинотеатр Эрвий, Йошкар-Ола, Арена, клуб, кинотеатр, кино, расписание, смотрите, дискотека {{page.getMetaKeywords}}"/>
    <meta name="description" content="Кинотеатр Эрвий {{page.getMetaDescription}}"/>
    <meta name="copyright" content="Арена" />
{% endblock %}

{% block title %}
    {{page.getHtmlTitle}}
{% endblock %}
 
{% block content %}
    <h1>{{page.getTitle}}</h1>
    {{page.content | raw}}

{% endblock %}
        
{% block javascripts%}
<script type="text/javascript">

    var nav = document.getElementById('{{data.slug}}');
    nav.className = "active";
</script>

{% endblock %}
