<fieldset>
    <legend> Расписание </legend>
    <div style="margin: 15px 0 5px 0;" id="datepicker">&nbsp;</div><br/> 
    Время: <br />
    <p>
    Час: <select name="hour" id="hour">
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option selected value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="00">00</option>
        
        
        
    </select>
    </p>
    <p>
    Мин: <select name="min" id="min">
        <option selected value="00">00</option>
        <option value="05">05</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
        <option value="30">30</option>
        <option value="35">35</option>
        <option value="40">40</option>
        <option value="45">45</option>
        <option value="50">50</option>
        <option value="55">55</option>
    </select>
    </p>
   
    <p>
    Цена:<input type="text" name="price" value="100" id="price"/>
    
    </p>
    <p>
    Зал:
    <select name="room" id="room">
        <option selected value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">VIP</option>
        <option value="6">6</option>
    </select>
    </p>
    
    <input type="button" value="Установить" id="send"/>
</fieldset>

<div id="schedule_table_head">
<table class="simple-little-table-head">
     <tr>
        <th>Дата</th>
        <th>Начало</th>
        <th>Цена</th>
        <th>Зал</th>
        <th>Действие</th>
     </tr>
</table>
</div>
<div id="schedule_table" ></div>
<input type="button" id="delete-all" value="Удалить все"/>
<div id="schedule_error" ></div>
<div id="confirm_dialog" ></div>
<script type="text/javascript">
var firstDate = new Date( fieldData.val() );
var disabledDates = new Array();
var i;
var date;

for ( i = 1; i < 365; i++ )
{
    date = new Date( firstDate.getTime() - i * 86400000 );
    disabledDates.push(date);
}

$('#datepicker').multiDatesPicker({dateFormat: "yy-mm-dd", addDisabledDates:disabledDates});
</script>
<script type="text/javascript">
$(document).ready(function(){
    var id = $('ul.breadcrumb li.active').text();
    $('#schedule_table').load("{{path('cinema_cinema_admin_get_schedule_table')}}",{id:id});
    $('#schedule_error').load("{{path('cinema_cinema_admin_check_error_schedule')}}",{id:id});
    
});
</script>

<script type="text/javascript">
$('#send').click(function(){
            var dates = $('#datepicker').multiDatesPicker('getDates');
            dates = dates.join(',')
            var hour = $('#hour').val();
            var min = $('#min').val();
            var room = $('#room').val();
            var price = $('#price').val();
            price = parseInt( price );
            if ( isNaN( price ) )
            {
                alert( 'Некорректное значение цены' );
                return;
            }
            var id = $('ul.breadcrumb li.active').text();
            
            
            $('#confirm_dialog').load("{{path('cinema_cinema_admin_get_confirm_dialog')}}",{dates:dates,hour:hour,min:min,price:price,room:room}, function()
                        {
                            $( "#dialog-confirm" ).dialog({
                                resizable: false,
                                height:240,
                                modal: true,
                                buttons: {
                                    "Добавить": function() {
                                                                $( this ).dialog( "close" );
                                                                $('#schedule_table').load("{{path('cinema_cinema_admin_schedule')}}",{dates:dates,hour:hour,min:min,price:price,room:room,id:id});
                                                                $('#schedule_error').load("{{path('cinema_cinema_admin_check_error_schedule')}}",{id:id});                     
                                                                setTimeout( function(){ $('#schedule_error').load("{{path('cinema_cinema_admin_check_error_schedule')}}",{id:id});}, 2000 ); 
                                                            },
                                    "Отменить": function() {
                                                                $( this ).dialog( "close" );
                                                            }
                                        }
                                                        });
                          }//end callback function
            
            );//end load function
           
            
                                    }); //end click function


$('#delete-all').click( function(){
                            var id = $('ul.breadcrumb li.active').text();
                            
                            $('#confirm_dialog').load("{{path('cinema_cinema_admin_get_confirm_delete_all_dialog')}}", {id:id}, function()
                            {
                            $( "#dialog-confirm-del" ).dialog({
                                resizable: false,
                                height:240,
                                modal: true,
                                buttons: {
                                    "Удалить": function() {
                                                                $( this ).dialog( "close" );
                                                                $('#schedule_table').load("{{path('cinema_cinema_admin_delete_schedule')}}",{id:id});
                                                                              
                                                                
                                                            },
                                    "Отменить": function() {
                                                                $( this ).dialog( "close" );
                                                            }
                                        }
                                                        });
                          }//end callback function
            
            );//end load function

                        });//end click function
                     
</script>

   
